{% extends "layout.html" %}

{% block title %}
    Add Patient
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Patient Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="dob" name="dob" placeholder="Patient DOB" type="date">
        </div>
        <button class="btn btn-primary" type="submit">Add Patient</button>
    </form>
{% endblock %}