{% extends "layout.html" %}

{% block title %}
    Delete Patient
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="mb-3">
            <select name="name">
                {% for patient in patients %}
                    <option value="{{ patient['name'] }}">{{ patient['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Delete Patient</button>
        </div>
    </form>
{% endblock %}