{% extends "layout.html" %}

{% block title %}
    Lung Scan Data
{% endblock %}

{% block main %}
    <div class="table">
        <h1>Lung Scan Data</h1>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto;margin-top:30px;width:70%;">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Scan Date</th>
                    <th>Raw Scan</th>
                    <th>Predict</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ patient }}</td>
                    <td>{{ date }}</td>
                    <td><img src="{{url_for('static', filename='images/raw_scan.jpg')}}", width="300px"/></td>
                    <td>{{ predict }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}