{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="table">
        <h1>Patient Directory</h1>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto;margin-top:30px;width:70%;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">DOB</th>
                </tr>
            </thead>
            {% for patient in patients %}
                <tbody>
                    <tr>
                        <td>{{ patient['name'] }}</td>
                        <td>{{ patient['dob'] }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}